body {
    background-color: rgb(243, 243, 158);
}

.title {
    font-family: "Kranky";
    color: blue;
    text-shadow: 2px 2px white;
}

.playArea {
    width: 500px;
    height: 500px;
    background-color: rgb(83, 83, 180);
    border-style: solid;
    border-width: thick;
    border-color: rgb(188, 236, 54);
}

.rain {
    position: absolute;
    background-color: lightblue;
    border-radius: 25%;
    width: 5px;
    height: 20px;
}

.sky {
    position: relative;
}

.cloud {
    position: relative;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 100px;
    background-color: rgb(150, 149, 149);
}

.ground {
    position: relative;
    top: 300px;
    width: 100%;
    height: 90px;
    background-color: rgb(0, 128, 0);
    border-style: solid;
    border-width: 5px;
    border-color: darkgreen;
    border-left: rgb(0, 128, 0);
    border-right: rgb(0, 128, 0);
    border-bottom: rgb(0, 128, 0);
}

.user {
    position: absolute;
    top: 405px;
    width: 60px;
    height: 60px;
}

.startText {
    font-family: "Kranky";
    color: rgb(255, 255, 255);
}

.scoreTitle {
    font-family: "Kranky";
    text-decoration: underline;
    padding-left: 5px;
}

.userScore {
    font-family: "Kranky";
    font-weight: bold;
    padding-left: 5px;
}

.modal-header {
    background-color: rgb(243, 243, 158);
    border-color: red;
    display: flex;
    justify-content: center;
    font-family: "Kranky";
    color: red;
}

.modal-body {
    background-color: rgb(243, 243, 158);
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-family: "Kranky";
    font-weight: bold;
}

.modal-footer {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 158);
    border-color: rgb(243, 243, 158);
}

.modalButton {
    background-color: blue;
    font-family: "Kranky";
    font-size: x-large;
    color: white;
}

.finalScore {
    color: blue;
    padding-left: 10px;
}

.instructionText {
    font-family: "Kranky";
    color: black;
}
